{% extends "base.twig" %}

{% block content %}
<main class="archive-container">    
    <header class="post-list-header">
        <h2 class="archive-title">
            {% if post.title %}{{post.title}}{% else %}{{title}}{% endif %}{% if search_query%}<span
                class="query">{{search_query}}</span>{% endif %}
        </h2>
        {% if posts.pagination.total > 1%}
        <span class="archive-page">
            {{posts.pagination.current}}/{{posts.pagination.total}}
        </span>
        {% endif %}
    </header>
    {% for post in posts %}
    {% include "/partial/tease-walk.twig" %}
    {% endfor %}
    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
</main>
{% endblock %}