{% extends "base.twig" %}

{% block content %}
{% set df = "Ymd\\THi"%}
<article class="post-type-{{ post.post_type }} article" id="post-{{ post.ID }}">
	<header class='article-header'>
		{% if post.post_type  == "walk"%}
		{% include "partial/walk-status.twig"%}
		{% endif %}
		{% if post.thumbnail.src %}
		<picture class="article-thumbnail">
			<source srcset="{{ post.thumbnail.src|resize(800)|towebp }}" type="image/webp">
			<source srcset="{{ post.thumbnail.src|resize(800)|tojpg }}" type="image/jpeg">
			<img src="{{ post.thumbnail.src|resize(800)|tojpg }}" alt="{{ post.title }}">
		</picture>
		{% endif %}
	</header>

	<h2 class="article-title">{{ post.title }}</h2>
	{% if post.subtitle %}
	<p class="article-intro">{{post.subtitle}}</p>
	{% endif %}
	{% if post.post_type == "walk" %}
		{% include "partial/walk-data.twig"%}
	{% endif %}
	<main class="article-content">
		{{post.content}}
	</main>
	<aside class="article-meta">
		{% if post.authors %}
		<ul class="post-authors">
			{% for author in post.meta('authors') %}
			<li>
				{% set people = author.name|split(',')%}
				{% if people | length == 1%}
				<span class='role'>{{author.role}} by</span> <span class="name">{{people[0]}}</span>
				{% elseif people | length == 2%}
				<span class='role'>{{author.role}} by</span> <span class='name'>{{people[0]}}</span> and <span
					class="name">{{people[1]}}</span>
				{% elseif people | length > 2%}
				{{author.role}} by {% for p in people %}{{p}},{%endfor%}
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> <time
			datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
		{%endif%}
	</aside>
</article>
{% endblock %}