{% extends "base.twig" %}

{% block content %}
{% set now = "now" | date("U") %}
{% set start = post.start_date | date("U") %}
{% set df = "Ymd\\THi"%}
{% set isEmpty = false %}
{% if post.content == "" %}
{% set isEmpty = true %}
{% endif %}
{{isEmpty}}
<article class="post-type-{{ post.post_type }} article" data-isEmpty="{{isEmpty}}" id="post-{{ post.ID }}">
	{% include "partial/post-sidebar.twig"%}
	<header class='article-header'>
		{% if post.post_type  == "event"%}
		<span class="post-date">
			<a href="/events">Walks and Events</a>
			{% if now < start %}
			– <em>Upcoming</em>
			{%else %}
			– <span>Archive</span>
			{% endif %}
		</span>
		{% else %}
		<span class="post-date"><a href="/blog">Blog</a> — {{post.date}}</span>
		{% endif %}
		<h2 class="article-title">{{ post.title }}</h2>
		{% if post.subtitle %}
		{% set s =  post.subtitle | length %}
		<p class="article-intro {% if s > 40%}long{% endif %}">{{post.subtitle}}</p>
		{% endif %}
		<img alt='Thumbnail image for {{post.title}}' class='post-thumbnail' src="{{post.thumbnail | resize(500)}}"
			alt="">
	</header>
	<main class="article-content">
		{{post.content}}
		<aside class="contributors">
			{% if post.contributors %}
			{% for id in post.contributors %}
			{% set c = TimberPost(id)%}
			{% include "/partial/contributor.twig" with {contributor: c}%}
			{% endfor %}
			{% endif %}
		</aside>
	</main>
	{% include "/partial/newsletter-form.twig"%}
</article>
{% endblock %}