{% extends "base.twig" %}

{% block content %}
{% set now = "now" | date("U") %}
{% set start = post.start_date | date("U") %}
{% set df = "Ymd\\THi"%}
<article class="post-type-{{ post.post_type }} article" id="post-{{ post.ID }}">
	{% include "partial/post-sidebar.twig"%}
	<header class='article-header'>
		{% if post.post_type  == "walk"%}
		<span class="post-date">
			<a href="/walk">Walks and Events</a>
			{% if now < start %}
			– <em>Upcoming</em>
			{%else %}
			– <span>Archive</span>
			{% endif %}
		</span>
		{% else %}
		<span class="post-date"><a href="/blog">Blog</a> — {{post.date}}</span>
		{% endif %}
		<h2 class="article-title">{{ post.title }}</h2>
		{% if post.subtitle %}
		<p class="article-intro">{{post.subtitle}}</p>
		{% endif %}
	</header>
	<main class="article-content">
		{% if post.post_type == "walk" %}
		{% include "partial/walk-data.twig"%}
		{% endif %}
		{{post.content}}
	</main>
	{% include "/partial/newsletter-form.twig"%}
</article>
{% endblock %}