{% block content %}
<a class='post-list-title' href="{{post.link}}">
	<h3>{{ post.title }}</h3>
</a>
<span class='post-list-meta'>{{ post.date }}</span>
<p class='post-list-subtitle'>{{ post.excerpt }}</p>

{% if post.thumbnail.src %}
<picture class="article-thumbnail">
	<source srcset="{{ post.thumbnail.src|resize(400)|towebp }}" type="image/webp">
	<source srcset="{{ post.thumbnail.src|resize(400)|tojpg }}" type="image/jpeg">
	<img src="{{ post.thumbnail.src|resize(400)|tojpg }}" alt="{{ post.title }}">
</picture>
{% endif %}
{% endblock %}