{% block content %}

<div class="post-list-meta">
	{{post.date | date("F d, Y")}}
</div>
<div class="post-list-info">
	<div>
		<a class='post-list-title' href="{{post.link}}">
			<h3>{{ post.title }}</h3>
		</a>
		<p class='post-list-subtitle'>{{ post.subtitle }}</p>
	</div>
	
	{% if post.thumbnail.src %}
	<a class="post-list-thumbnail" href="{{post.link}}">
		<picture>
			<source srcset="{{ post.thumbnail.src|resize(400)|towebp }}" type="image/webp">
			<source srcset="{{ post.thumbnail.src|resize(400)|tojpg }}" type="image/jpeg">
			<img src="{{ post.thumbnail.src|resize(400)|tojpg }}" alt="{{ post.title }}">
		</picture>
	</a>
	{% endif %}
</div>
{% endblock %}