{% set now = "now" | date("U") %}
{% set start = post.start_date | date("U") %}
{% if now < start %}
<details class="walk-data" open>
    <summary>Information</summary>
    <ul>
        <li class="walk-data-item">
            <em>Date</em>
            <p>
                <span>{{post.start_date | date("F d, Y") }}</span>
                <span>{{post.start_date | date('h:ia')}} – {{post.end_date | date('h:ia')}}</span>
                {% if now < start %}
                <a class='btn' target='_blank'
                    href="https://calendar.google.com/calendar/r/eventedit?text={{post.title | url_encode}}&dates={{post.start_date |date(df)}}/{{post.end_date | date(df)}}&location={{post.location | url_encode}}&details={{post.content | url_encode}}">Add
                    to Google Calendar</a>
                {% endif %}
            </p>

        </li>
        <li class="walk-data-item">
            <em>Meeting Point</em>
            <p>{{post.location}}</p>
        </li>
        {% if post.tickets %}
        <li class="walk-data-item">
            <em>Tickets</em>
            <p><a href="{{post.tickets.url}}">{{post.tickets.title}}</a></p>
        </li>
        {% endif %}
        {% if post.notes %}
        <li class="walk-data-item">
            <em>Notes</em>
            <p>{{post.notes}}</p>
        </li>
        {% endif %}
    </ul>
</details>
{% endif %}